{% extends "main/base.html" %}
{% load static %}

{% block header %}
    <script src="{% static 'js/title.js' %}"></script>
{% endblock %}

{% block content %}
    
    <form id="start" action="" method="POST">
        <a href="#" onclick="submitForm(event)">ゲーム開始</a>
        <label>
            <input type="checkbox" id="countrymode" name="checkbox"  value="1" onclick="toggleCheckboxes(this)">国モード
        </label>
        <label>
        <input type="checkbox" id="wikimode" name="checkbox" value="2" onclick="toggleCheckboxes(this)">wikiモード
        </label>
    </form>

{% endblock %}

